p
{
    color: blue;
}

.header-background
{
    background-color: black;
    color: white;
    text-decoration: underline;
}

#bigger-font
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
}